<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diabetes | Healtpredec</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/" style="font-family: RocknRoll One;    margin-left: 32px;
    ">Healtpredec</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
      <ul class="navbar-nav" style="margin-right: 84px;">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#About_US_ID">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#services">Services</a>
        </li>
      </ul>
    </div>
  </nav>


  <p class="main_heading">Make a Quick prediction of heaving Diabetes or not</p>

  <div class="form_parent">


    <form onsubmit="sub(event)" id="contact_form" class="contact-form contact-grid" style="    width: 80%;">

    </form>
    <button class="btn btn-dark" type="submit" form="contact_form" value="Submit" >Submit</button>
    <p id="Predic_out" style="margin-top: 22px;
    border-radius: 5px;
    padding: 7px;"></p>
  </div>



  <div class="about" style="    width: 80%;
  margin-left: 10%;    margin-top: 181px;">
    <h2>What is Diabetes?</h2>
    <div class="pred_image" style="    display: flex;
    align-items: center;">

      <img src="../static/images/diabetes1.jfif" alt="Breast Cancer">
      <p style="    padding: 16px;" >Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells.
<br> <br>
        Over time, having too much glucose in your blood can cause health problems. Although diabetes has no cure, you can take steps to manage your diabetes and stay healthy.
        <br> <br>
        Sometimes people call diabetes “a touch of sugar” or “borderline diabetes.” These terms suggest that someone doesn’t really have diabetes or has a less serious case, but every case of diabetes is serious.
    <br>
    </div>
    <br>
    <br>
    <br>
    <h3>What are the different types of diabetes?</h3> <br>
    <p>
        The most common types of diabetes are type 1, type 2, and gestational diabetes. <br><br>

<strong> Type 1 diabetes</strong><br>
If you have type 1 diabetes, your body does not make insulin. Your immune system attacks and destroys the cells in your pancreas that make insulin. Type 1 diabetes is usually diagnosed in children and young adults, although it can appear at any age. People with type 1 diabetes need to take insulin every day to stay alive.
<br><br>
<strong>Type 2 diabetes</strong><br>
If you have type 2 diabetes, your body does not make or use insulin well. You can develop type 2 diabetes at any age, even during childhood. However, this type of diabetes occurs most often in middle-aged and older people. Type 2 is the most common type of diabetes.
<br><br>
<strong> Gestational diabetes</strong> <br>
Gestational diabetes develops in some women when they are pregnant. Most of the time, this type of diabetes goes away after the baby is born. However, if you’ve had gestational diabetes, you have a greater chance of developing type 2 diabetes later in life. Sometimes diabetes diagnosed during pregnancy is actually type 2 diabetes.
    </p>
    <br><br><br>
    <h3>How common is diabetes?</h3><br>
    <p>
        As of 2015, 30.3 million people in the United States, or 9.4 percent of the population, had diabetes. More than 1 in 4 of them didn’t know they had the disease. Diabetes affects 1 in 4 people over the age of 65. About 90-95 percent of cases in adults are type 2 diabetes.
    </p> <br><br>

    <h3>What health problems can people with diabetes develop?</h3> <br>
    <p>Over time, high blood glucose leads to problems such as <br>
<ul>
<li>

    heart disease
</li> <li>

    stroke
</li> <li>

    kidney disease
</li> <li>
    eye problems
</li> <li>
    dental disease
</li> <li>
    nerve damage
</li> <li>
    foot problems </li> 
</ul></p>

<br><br>
<h3>How to control diabetes?</h3> <br>
<p>
There are several ways to Lower Blood Sugar Levels Naturally. <br>
<ul>
    <li>
        Exercise regularly
    </li>
    <li>
        Manage your carb intake
    </li>
    <li>
        Increase your fiber intake
    </li>
    <li>
        Drink water and stay hydrated
    </li>
    <li>
        Implement portion control
    </li>
    <li>
        Choose foods with a low glycemic index
    </li>
    <li>Get enough quality sleep</li>
    <li>Maintain a Moderate Weight</li>
    <li>
        Manage stress levels. etc.
    </li>

</ul>
</p><br><br><br>
<a href="https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes#:~:text=Diabetes%20is%20a%20disease%20that,to%20be%20used%20for%20energy.">Source of information</a>
  </div>










  <div class="footer" style="    display: flex;
  background-color: rgb(27, 26, 26);
  color: white;
  margin: 0px;
  flex-direction: column;
  height: 250px;
  justify-content: center;">
      <p style="    font-size: 3rem;
  text-align: center;
  font-family: 'RocknRoll One';">Healtpredec</p>
      <p style="text-align: center;
  font-family: monospace;">Made with ❤ by Atul Tyagi</p>
      <p style="text-align: center;
  font-family: monospace;">© Copyright 2021 ATUL TYAGI</p>
  
    </div>
  











  <script>
    let lenght_item=0
    function create_elem() {
      items= ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age']
      min_type = [0.0, 44.0, 24.0, 7.0, 14.0, 18.2, 0.078, 21.0]
      max_type = [17.0, 199.0, 122.0, 99.0, 846.0, 67.1, 2.42, 81.0]
    values=[  6.   , 148.   ,  72.   ,  35.   , 169.5  ,  33.6  ,   0.627,
        50.]
    step=[1,1,1,1,0.1,0.1,0.0001,1]
    lenght_item=items.length
       elemens_temp=''
    for(let i=0;i<items.length;i++){
      elem=`<div class="form-field name">
      <label class="label" for="fname">${items[i]}*</label>
      <input type="number" name="${items[i]}" min="${min_type[i]}" max="${max_type[i]}" step='${step[i]}' value="${values[i]}" required>
    </div>`
    elemens_temp+=elem
    }
    document.getElementById('contact_form').innerHTML=elemens_temp
  }
  create_elem()

  function loadDoc(data) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        console.log(this.responseText)
        if (this.readyState == 4 && this.status == 200) {
          out = JSON.parse(this.responseText)
          result_dec(out.result)
        }
        else {
          result_dec('error occur')
        }
      };
      xhttp.open("POST", "Diabetes", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(`id=${data}`);
    }
    var myForm = ""
    let ouput_data = []
    function sub(e) {
      ouput_data = []
      e.preventDefault();
      console.log("Done")
      myForm = document.getElementById('contact_form');
      for (let i = 0; i < lenght_item; i++) {
        ouput_data.push(myForm.elements[i].value)
      }
      senddata(ouput_data)
    }
    function senddata(dat) {
      let temp = "[" + dat.toString() + "]"
      loadDoc(temp)
    }

    function result_dec(out) {
      if (out == 0) {
        document.getElementById('Predic_out').innerText = 'The predictions say that You have not Diabetes'
        document.getElementById('Predic_out').style.backgroundColor = '#d2ebd3'
      }
      else if (out == 1) {
        document.getElementById('Predic_out').innerText = 'The predictions say that You have Diabetes'
        document.getElementById('Predic_out').style.backgroundColor = 'rgb(241 181 196)'
      }
      else {
        document.getElementById('Predic_out').innerText = 'Waiting...'
        document.getElementById('Predic_out').style.backgroundColor = 'rgb(239 233 234)'
      }
    }
  </script>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>