<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liver | Healtpredec</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
 <style>
     .label{
        position: relative;
        top: 2px;
     }
 </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/" style="font-family: RocknRoll One;    margin-left: 32px;
    ">Healtpredec</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
      <ul class="navbar-nav" style="margin-right: 84px;">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#About_US_ID">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#services">Services</a>
        </li>
      </ul>
    </div>
  </nav>


  <p class="main_heading">Make a Quick prediction of heaving Liver disease or not</p>

  <div class="form_parent">


    <form onsubmit="sub(event)" id="contact_form" class="contact-form contact-grid" style="    width: 80%;">

    </form>
    <button class="btn btn-dark" type="submit" form="contact_form" value="Submit" >Submit</button>
    <p id="Predic_out" style="margin-top: 22px;
    border-radius: 5px;
    padding: 7px;"></p>
  </div>



  <div class="about" style="    width: 80%;
  margin-left: 10%;    margin-top: 181px;">
    <h2>Overview</h2>
    <div class="pred_image" style="    display: flex;
    align-items: center;">

      <img src="../static/images/Liver-disease.jpg" alt="Breast Cancer">
      <p style="    padding: 16px;" >The liver is an organ about the size of a football. It sits just under your rib cage on the right side of your abdomen. The liver is essential for digesting food and ridding your body of toxic substances. <br><br>

        Liver disease can be inherited (genetic). Liver problems can also be caused by a variety of factors that damage the liver, such as viruses, alcohol use and obesity. <br><br>
        
        Over time, conditions that damage the liver can lead to scarring (cirrhosis), which can lead to liver failure, a life-threatening condition. But early treatment may give the liver time to heal. <br>
        
        <br></p>
    </div>
    <br>
    <br>
    <br>
    <h3>Symptoms</h3> <br>
    <p>
        Liver disease doesn't always cause noticeable signs and symptoms. If signs and symptoms of liver disease do occur, the may include: <br><br>
<ul>
    <li>

        
        Skin and eyes that appear yellowish (jaundice)
    </li> <li>

        Abdominal pain and swelling
    </li> <li>
        Swelling in the legs and ankles
    </li> <li>
        Itchy skin
    </li> <li>
        Dark urine color
    </li> <li>
        Pale stool color
    </li> <li>
        Chronic fatigue
    </li> <li>
        Nausea or vomiting
    </li> <li>
        Loss of appetite
    </li> <li>
        Tendency to bruise easily
    </li>
    </ul>
</p>
    <br><br><br>
    <h3>Causes</h3> <br>
    <p>Liver disease has many causes.<br> <br>

        <ul>
            <li>

                Infection
            </li> <li>

                Immune system abnormality
            </li> <li>

                Genetics
            </li> <li>
                
                Cancer and other growths
            </li>
            <li>and many others.</li>
        </ul></p> <br> <br> <br>
        <h3>Prevention</h3> <br> <br>
        <p>To prevent liver disease:<br> <br>
        <ul>
            <li>Drink alcohol in moderation</li>
            <li>Avoid risky behavior</li>
            <li>Get vaccinated</li>
            <li>Use medications wisely</li>
            <li>Avoid contact with other people's blood and body fluids</li>
            <li>Keep your food safe</li>
            <li>Take care with aerosol sprays</li>
            <li>Protect your skin</li>
            <li>Maintain a healthy weight</li>
        </ul>
        </p>
        <a href="https://www.mayoclinic.org/diseases-conditions/liver-problems/symptoms-causes/syc-20374502" target="_blank">Source of information</a>
    
  </div>










  <div class="footer" style="    display: flex;
  background-color: rgb(27, 26, 26);
  color: white;
  margin: 0px;
  flex-direction: column;
  height: 250px;
  justify-content: center;">
      <p style="    font-size: 3rem;
  text-align: center;
  font-family: 'RocknRoll One';">Healtpredec</p>
      <p style="text-align: center;
  font-family: monospace;">Made with ❤ by Atul Tyagi</p>
      <p style="text-align: center;
  font-family: monospace;">© Copyright 2021 ATUL TYAGI</p>
  
    </div>
  











  <script>
    let lenght_item=0
    function create_elem() {
      items= ['Age', 'Gender(0:Female , 1:Male)', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio']
      min_type = [4.0, 0.0, 0.4, 0.1, 63.0, 10.0, 10.0, 2.7, 0.9, 0.3]
      max_type = [90.0, 1.0, 75.0, 19.7, 2110.0, 2000.0, 4929.0, 9.6, 5.5, 2.8]
    values=[65,	0,	0.7,	0.1,	187,	16,	18,	6.8,	3.3,	0.90,	0]
    step=[1,1,0.0000001,0.000001,1,1,1,0.0000001,0.00001,0.0000001]
    lenght_item=items.length
       elemens_temp=''
    for(let i=0;i<items.length;i++){
      elem=`<div class="form-field name">
      <label class="label" for="fname">${items[i]}*</label>
      <input type="number" name="${items[i]}" min="${min_type[i]}" max="${max_type[i]}" step='${step[i]}' value="${values[i]}" required>
    </div>`
    elemens_temp+=elem
    }
    document.getElementById('contact_form').innerHTML=elemens_temp
  }
  create_elem()

  function loadDoc(data) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        console.log(this.responseText)
        if (this.readyState == 4 && this.status == 200) {
          out = JSON.parse(this.responseText)
          result_dec(out.result)
        }
        else {
          result_dec('error occur')
        }
      };
      xhttp.open("POST", "liver", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(`id=${data}`);
    }
    var myForm = ""
    let ouput_data = []
    function sub(e) {
      ouput_data = []
      e.preventDefault();
      console.log("Done")
      myForm = document.getElementById('contact_form');
      for (let i = 0; i < lenght_item; i++) {
        ouput_data.push(myForm.elements[i].value)
      }
      senddata(ouput_data)
    }
    function senddata(dat) {
      let temp = "[" + dat.toString() + "]"
      loadDoc(temp)
    }

    function result_dec(out) {
      if (out == 0) {
        document.getElementById('Predic_out').innerText = 'The predictions say that You have not Liver related Disease'
        document.getElementById('Predic_out').style.backgroundColor = '#d2ebd3'
      }
      else if (out == 1) {
        document.getElementById('Predic_out').innerText = 'The predictions say that You have Liver related Disease'
        document.getElementById('Predic_out').style.backgroundColor = 'rgb(241 181 196)'
      }
      else {
        document.getElementById('Predic_out').innerText = 'Waiting...'
        document.getElementById('Predic_out').style.backgroundColor = 'rgb(239 233 234)'
      }
    }
  </script>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>