<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healtpredec</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/home.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/" style="font-family: RocknRoll One;    margin-left: 32px;
  ">Healtpredec</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
    <ul class="navbar-nav" style="margin-right: 84px;">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#About_US_ID">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>
    </ul>
  </div>
</nav>


<div class="front_page">
</div>
    <div class="front_text">
      <h1 class="main_heading">Healtpredec</h1>
      <br>
      <p class="main_second_para">Get a fast and precise prediction about your health.</p>
      <!-- We use the art named Machine Learning to make an instant prediction about your health. -->
      <hr style="    border: 1px solid #1d299940;
      width: 70%;">
    </div>
  


    <div class="info" id="About_US_ID">
      <p class="headings">About Us</p>
  <div class="about_us">
<img class="para_image" src="../static/images/about.svg" alt="">
<div class="about_para"> <div style="font-size: 25px;"> IMPROVING HEATHCARE | SERVICE TO HUMANITY </div> <br> We use the arts called Machine Learning and Deep Learning Technologies to provide various services that make an instant prediction about your health and also provide information of the certain diseases. Our Services are more that 95% accurate.
</div>
  </div>
    </div>




    <div id="services">

        <p class="headings" >Services</p>
  

  
  <ul class="card-list" >
      
      <li class="card">
          <a class="card-image" href="./Brest_cancer" target="_blank" style="background-image: url(../static/images/breast_cancer.jpg);">
		</a>
		<a class="card-description" href="./Brest_cancer" target="_blank">
			<h2>Breast Cancer</h2>
			<p>Make a prediction of being heaving Breast cancer or not.</p>
		</a>
	</li>
	
	<li class="card">
        <a class="card-image" href="./heart_disease" target="_blank" style="background-image: url(../static/images/heart_desease.jpg);">
		</a>
		<a class="card-description" href="./heart_disease" target="_blank">
			<h2>Heart disease</h2>
			<p>Help user by making predition of heaving Heart disease.</p>
		</a>
	</li>

  <li class="card">
    <a class="card-image" href="./Diabetes" target="_blank" style="background-image: url(../static/images/diabetes.jpg);">
</a>
<a class="card-description" href="./Diabetes" target="_blank">
  <h2>Diabetes</h2>
  <p>check whether a patient a diabetic or not. <br> <br></p>
</a>
</li>

<li class="card">
  <a class="card-image" href="./pneumonia" target="_blank" style="background-image: url(../static/images/pneumonia.jpeg);">
</a>
<a class="card-description" href="./pneumonia" target="_blank">
<h2>pneumonia</h2>
<p>Predict wheter a patient having pneumonia or not by just analysing X Ray image of their Lungs.<br> <br></p>
</a>
</li>

<li class="card">
  <a class="card-image" href="./Stroke" target="_blank" style="background-image: url(../static/images/stroke.jpg);">
</a>
<a class="card-description" href="./Stroke" target="_blank">
<h2>Stroke</h2>
<p>Predict wheter a patient have chances of having stroke or not.<br> <br></p>
</a>
</li>

<li class="card">
  <a class="card-image" href="./maleria" target="_blank" style="background-image: url(../static/images/maleria.jpg);">
</a>
<a class="card-description" href="./maleria" target="_blank">
<h2>Maleria</h2>
<p>Predict wheter a patient have Maleria or not by the Image of cell.<br> <br></p>
</a>
</li>

<li class="card">
  <a class="card-image" href="./liver" target="_blank" style="background-image: url(../static/images/liver.jpg);">
</a>
<a class="card-description" href="./liver" target="_blank">
<h2>Liver Disease</h2>
<p>Predict wheter a patient having a Liver related disease or not.<br> <br></p>
</a>
</li>
	
</ul>





</div>



<div class="footer" style="    display: flex;
background-color: rgb(27, 26, 26);
color: white;
margin: 0px;
flex-direction: column;
height: 250px;
justify-content: center;">
<p style="    font-size: 3rem;
text-align: center;
font-family: 'RocknRoll One';">Healtpredec</p>
<p style="text-align: center;
font-family: monospace;">Mode with ❤ Atul Tyagi</p>
<p style="text-align: center;
font-family: monospace;">© Copyright 2021 ATUL TYAGI</p>

</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>